
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Indie+Flower|Lato:300i,400,400i,700,700i,900,900i|Slabo+27px');

* {
    margin:0;
    padding:0;
}
/*==========START=================*/

body {
    background-color: #D9D6D5;
}

a {
    color: #D9D6D5;
    text-decoration: none;
}

a:hover,
a:focus {
    color:#6B2D1F;
}

/*===============HEADER==============*/

.header {
    width:100%;
    height: 90px;
    background-color: #301506;
}

.profileimg {
    margin-top: .5em;
    margin-left: .5em;
    height: 75px;
    float:left;
}

.logout {
     float:right;
    margin: .5em .5em 0 0 
}

.logout button {
    padding: .15em;
    background-color: #D9D6D5;
    border-radius: .5em;
    cursor: pointer;
}

nav {
   float: right;
   margin-top: 2.75em;
   transform: translateX(-3.5em);

}

nav select {
    border-radius: .5em;
    padding: .35em;
    cursor: pointer;
    background-color: #D9D6D5;
    color: #301506; 

}

nav option {
    padding: .75em;
    cursor: pointer;
    border-style: none;
}



.mywrapper {
    float: left;
    margin-top: .1em;
    width: 65%;
    height: 4.7em;
    background-color: #301506;

    
}

.mymenu {
    text-align: center;

}

.mymenu ul {
    
}


.mymenu li {
    display: inline-block;
    list-style: none;
    margin: 1.25em 0 0 3vw;
    font-size: 1.2em;
}

@media screen and (max-width: 980px){
    .mywrapper {
        display: none;
    }
}

/*==============MYHOME============*/

.uploadimg {
    margin-top: 2em;
    margin-left: 1.5em;
}





